.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_total {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    &_amount {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #6c63ff;
    }
}
