.item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 16px 8px;
    border-radius: 8px;
    border: 1px solid #6c63ff;
    width: 100%;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
    }
    &_header {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &_title {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    &_price {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: rgba(142, 142, 147, 1);
    }
    &_total {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #6c63ff;
        flex: 1;
    }
    &_btn {
        flex: 1;
        max-width: 120px;
    }
    &_footer {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
