.item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 8px;
    border-radius: 8px;
    border: 1px solid #6c63ff;
    &_title {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
    }
    &_price {
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        color: #6c63ff;
        width: fit-content;
    }
    &_btn {
        width: 120px;
    }
    &_footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
