.cart {
    position: relative;
}
.counter {
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: #6c63ff;
    border-radius: 8px;
    padding: 2px 4px;
    color: white;
    font-size: 12px;
    height: 18px;
    min-width: 18px;
    text-align: center;
}
