.header {
    background-color: #fff;
    box-shadow: 0 1px 4px 1px rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 60px;
    &_wrapper {
        padding: 0 16px;
        max-width: 1440px;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &_cart {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        border-radius: 8px;
        background-color: transparent;
        border: 1px solid #6c63ff;
        @media (hover: hover) {
            &:hover {
                opacity: 0.8;
            }
        }
        @media (hover: none) {
            &:active {
                opacity: 0.7;
            }
        }
    }
    &_count {
        position: absolute;
        right: -10px;
        top: -10px;
        background-color: #6c63ff;
        border-radius: 8px;
        padding: 2px 4px;
        color: white;
        font-size: 12px;
    }
}
