@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
img {
    vertical-align: middle;
}
